.student-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.student-item {
    margin-bottom: 10px;
  }
  
.student-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a86e8;
    margin-bottom: 10px;
  }
  
.student-container p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
.student-container:nth-child(even) {
    background-color: #f4f4f4;
  }
  
.student-container:nth-child(odd) {
    background-color: #fafafa;
  }
.container{
    max-height:500px;
    overflow-y: auto;
  
}